@import "common/variables";

// Automatically injected Bower dependencies via wiredep (never manually edit this block)
// bower:scss
@import "../../bower_components/bootstrap/scss/bootstrap.scss";
// endbower

@import "common/global";
@import "components/buttons";
@import "components/comments";
@import "components/forms";
@import "components/grid";
@import "components/wp-classes";
@import "layouts/header";
@import "layouts/sidebar";
@import "layouts/footer";
@import "layouts/pages";
@import "layouts/posts";
@import "layouts/tinymce";

/* CHICAGO STYLE SEO ADDED STYLES */

/* VARIABLES */

$primaryDark: #2D3F54;
$primaryLight: #7ECEFD;
$primaryMid: #265EA4;
$accent: #FF7F66;
$accentDark: #D55137;
$dark: #121212;
$darkGray: #555458;
$midGray: #D6D4D1;
$lightGray: lighten($midGray, 12%);
$offWhite: lighten($midGray, 15%);
$white: #FFFFFF;
$highlight: #27ae60;
$altColor: #E3DFC9;

$sansSerifFont: 'Lato', sans-serif;
$serifFont: 'Lora', serif;

/* BREAKPOINTS */
$screen-sm-min: 768px;
$screen-xs-max: ($screen-sm-min - 1);
$screen-md-min: 992px;
$screen-sm-max: ($screen-md-min - 1);
$screen-lg-min: 1200px;
$screen-md-max: ($screen-lg-min - 1);

.acf-map {
  width: 100%;
  height: 400px;
  border: #ccc solid 1px;
  margin: 20px 0;
}

/* fixes potential theme css conflict */
.acf-map img {
  max-width: inherit !important;
}

/* GLOBALS */
body, html{
  font-family: $serifFont;
  font-size: 18px;
  overflow-x: hidden !important;
}

h1{
  font-family: $sansSerifFont;
  margin-bottom: 24px;
  color: $primaryMid;
  text-transform: uppercase;
}

h2{
  font-family: $sansSerifFont;
  margin-bottom: 24px;
  color: $primaryMid;
  text-transform: uppercase;
}

h3{
  font-family: $sansSerifFont;
  text-transform: uppercase;
}

h4{
  font-family: $sansSerifFont;
  text-transform: uppercase;
}

h5{
  font-family: $sansSerifFont;
  text-transform: uppercase;
}

h6{
  font-family: $sansSerifFont;
  text-transform: uppercase;
}

p{
  font-family: $serifFont;
  font-size: 18px;
}

a{
  transition: all .3s ease;
  font-family: inherit;
  color: $primaryMid;

  &:hover{
    text-decoration: underline;
    cursor: pointer;
    color: $accent;
  }
}

button{

  &:hover{
    text-decoration: none !important;
  }
}

main p a{
  border-bottom: 2px solid $primaryLight;

  &:hover{
    text-decoration: none;
  }

}


.blogReadMore{
  border-bottom: 0px !important;
}


main blockquote{
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding: 20px 60px;

  footer{
    border-top: 4px solid $midGray;
    padding-top: 10px;
    color: $primaryMid;
  }
}

blockquote:before, blockquote:after {
  position: absolute;
  width: 60px;
  height: 60px;
  font-size: 120px;
  line-height: 1;
}
blockquote:before {
  top: 0;
  left: 0;
  content: "\201C";
  color: $midGray;
}

button{
  letter-spacing: .05rem;
}

.pageTitle{
  font-weight: 700;
}

.banner hr{
  margin-top: 0px;
  margin-bottom: 0px;
}

.nav-primary {
  padding: 0;
  margin: 0;
  border: 0;
  width: auto;
  font-family: $sansSerifFont;
}
.nav-primary ul,
.nav-primary li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav-primary ul {
  position: relative;
  z-index: 597;
}
.nav-primary ul li {
  float: left;
  min-height: 1px;
  vertical-align: middle;
}
//.nav-primary ul li.hover,
.nav-primary ul li:hover {
  position: relative;
  z-index: 599;
  cursor: default;
}
.nav-primary ul ul {
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 598;
  width: 100%;
}
.nav-primary ul ul li {
  float: none;
}
.nav-primary ul ul ul {
  top: 0;
  left: 250px;
  width: 250px;
}
.nav-primary ul li:hover > ul {
  visibility: visible;
}
.nav-primary ul ul {
  bottom: 0;
  left: 0;
}
.nav-primary ul ul {
  margin-top: 0;
}
.nav-primary ul ul li {
  font-weight: normal;
}
.nav-primary a {
  display: block;
  line-height: 1em;
  text-decoration: none;
  font-family: $sansSerifFont;
  /* THIS LOOKS WEIRD ON LOCAL BUT IS A FIX FOR THE LIVE SITE */
  min-height: 50px;
  padding-top: 18px;
  /* END WEIRDNESS */
}
/* Custom CSS Styles */
.nav-primary {
  background: $primaryDark;
  //border-bottom: 4px solid $primaryDark;
  font-size: 16px;
  height: 50px;

  @media (max-width: $screen-md-max) {
    display: none;
  }

}
.nav-primary > ul {
  *display: inline-block;
}
.nav-primary:after,
.nav-primary ul:after {
  content: '';
  display: block;
  clear: both;
}
.nav-primary ul {
  text-transform: uppercase;
}
.nav-primary ul ul {
  border-top: 4px solid $primaryLight;
  text-transform: none;
  width: 250px;
  top: 50px;
}
.nav-primary ul ul a {
  background: lighten($primaryLight, 24%) !important;
  color: $primaryDark !important;
  border: 1px solid lighten($primaryLight, 10%) !important;
  border-top: 0 none !important;
  border-left: 0 none !important;
  border-right: 0 none !important;
  line-height: 150%;
  padding: 14px;
  font-size: 14px;
  text-align: left !important;
}
.nav-primary ul ul ul {
  border-top: 0 none;
}
.nav-primary ul ul li {
  position: relative;
}
.nav-primary ul ul li:first-child > a {
  border-top: 1px solid $primaryLight;
}
.nav-primary ul ul li:hover > a {
  background: $primaryMid !important;
  color: $offWhite !important;

}
.nav-primary ul ul ul li a {
  padding-bottom: 14px !important;
}

.nav-primary .fa-search, .nav-primary .fa-times{
  position: relative;
  top: 12px;
}

.nav-primary ul ul ul li:hover > a {
  background: $accent !important;
  color: $white !important;
  padding-bottom: 14px;
}

.nav-primary .sub-menu{
  li{
    background-color: lighten($primaryLight, 10%);
  }
}

.nav-primary ul ul li:last-child > a {

  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -moz-box-shadow: 0 1px 0 $primaryLight;
  -webkit-box-shadow: 0 1px 0 $primaryLight;
  box-shadow: 0 1px 0 $primaryLight;
}
.nav-primary ul ul li:last-child:hover > a {
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.nav-primary ul ul li.has-sub > a:after {
  content: '+';
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -8px;
}
.nav-primary ul li:hover > a,
.nav-primary ul li.active > a, .nav-primary .current-menu-parent > a, .nav-primary .current-menu-item > a {
  background: transparent;
  color: $primaryLight;
  border-bottom: 4px solid $primaryLight;
}
.nav-primary ul li.has-sub > a:after {
  content: '+';
  margin-left: 5px;
}
.nav-primary ul li.last ul {
  left: auto;
  right: 0;
}
.nav-primary ul li.last ul ul {
  left: auto;
  right: 99.5%;
}
.nav-primary a {
  background: transparent;
  color: $white;
  //padding: 0 20px;
}
.nav-primary > ul > li > a {
  font-size: 16px;
}

.menu-item{

  .fa{
    color: $white;
  }
}



.nav-mobile{
  display: none;
  width: 100%;
  height: 60px;
  background-color: $primaryDark;
  transition: all .3s ease;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 125;

  &.active{
    height: 100%;
    background-color: $primaryMid;
  }

  @media (max-width: $screen-md-max) {
    display: block;
  }

  #menu-mobile-menu{
    display: none;
    z-index: 140;
    margin-top: 60px;

    &.active{
      display: block;
    }
  }

  i{
    color: $offWhite;
    font-size: 36px;
    position: absolute;
    top: 12px;
    right: 12px;
    
    &:hover{
      cursor: pointer;
    }
    &.active{
      display: none;
    }
  }

  li{
    border-bottom: 1px solid rgba($lightGray, .1);
    padding: 10px;

    a{
      color: $white;
      font-size: 28px;
    }
  }

  .mobileLogo{
    height: 40px;
    position: fixed;
    left: 24px;
    top: 10px;
    z-index: 100;
  }

}

.languageChange{
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px 32px 0px 0px;

  p{
    display: inline-block;
    font-family: $sansSerifFont;
    font-size: 12px;
  }

  img{
    width: 25px;
    height: 25px;
  }
}

.headerHeadline{
  font-size: 20px;
  font-family: $serifFont;
  color: $primaryDark;
  position: relative;
  top: 55px;
  right: 10px;
}

.headerNav{
  position: relative;
  top: 65px;
  left: 68px;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;

  ul{

    li{
      text-align: center;
      -webkit-order: 0;
      -ms-flex-order: 0;
      order: 0;
      -webkit-flex: 0 1 auto;
      -ms-flex: 0 1 auto;
      flex: 0 1 auto;
      -webkit-align-self: auto;
      -ms-flex-item-align: auto;
      align-self: auto;
      padding: 0px 10px;

      a{
        font-family: $sansSerifFont;
        color: $primaryMid;
        border-bottom: 2px solid transparent;
        text-transform: uppercase;
        font-weight: bold;

        &:hover{
          color: $primaryDark;
          border-bottom: 2px solid $accent;
          text-decoration: none;
        }
      }

      //&:last-child{
      //  padding-left: 0px;
      //}
    }
  }
}

button{
  padding: 12px 24px;
  text-align: center;
  border: none;
  font-family: $sansSerifFont;
  transition: all .3s ease;
  font-weight: 700;
}

.banner{
  border-bottom: 1px solid $midGray;
}
.wrap{
  margin-top: 24px;
  width: 100%;
}

#menu-menu-1, #menu-primary-menu {
  display: flex !important;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  position: relative;
  max-width: 1120px;
  margin: 0 auto;
}

.menu-item {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}

.home .main{
  padding: 48px 0 0 0;
}


.page-header{
  display: none;
}

.primary-btn{
  background-color: $white;
  color: $primaryDark;
  transition: all .3s ease;
  text-transform: uppercase;

  &:hover{
    background-color: $primaryLight;
    color: $primaryDark;
    cursor: pointer;
  }
}

.secondary-btn{
  background-color: $white !important;
  color: $dark;
  border: 2px solid $midGray;
  transition: all .3s ease;
  text-transform: uppercase;

  &:hover{
    background-color: $primaryDark !important;
    border: 2px solid $primaryDark;
    color: $white;
    cursor: pointer;
  }
}

.transparent-btn{
  background-color: transparent!important;
  color: $dark;
  border: 2px solid $primaryDark;
  transition: all .3s ease;
  text-transform: uppercase;

  &:hover{
    background-color: $primaryLight !important;
    border: 2px solid $primaryLight;
    color: $primaryDark;
    cursor: pointer;
  }
}

.alternate-btn{
  background-color: $accent!important;
  color: $white;
  border: 2px solid $accent !important;
  transition: all .3s ease;
  text-transform: uppercase;

  &:hover{
    background-color: $primaryLight !important;
    border: 2px solid $primaryLight !important;
    color: $primaryDark;
    cursor: pointer;
  }
}

.sidebar-btn{
  background-color: $primaryMid !important;
  color: $white !important;
  transition: all .3s ease;
  text-transform: uppercase;

  &:hover{
    background-color: $accent !important;
    color: $white !important;
    cursor: pointer;
  }
}

.invert-btn{
  background-color: $primaryLight !important;
  color: $primaryDark !important;
  transition: all .3s ease;
  text-transform: uppercase;

  &:hover{
    background-color: $primaryDark !important;
    color: $white !important;
    cursor: pointer;
  }
}

.navTopContainer{
  height: 160px;

  @media (max-width: $screen-md-max) {
    display: none;
  }
}

header{
  @media (max-width: $screen-md-max) {
    z-index: 10;
  }
}

.navTopRight{
  text-align: right;
  @media (max-width: $screen-md-max) {
    display: none;
  }
  button{
    margin-top: 24px;
  }

  @media (max-width: $screen-md-max) {

    .secondary-btn{
      display: none;
    }
  }
}

.navTopLeft{
  .navLogo{
    margin-top: 20px;
    @media (max-width: $screen-md-max) {
      display: none;
    }
  }
}

.menu-item i{

  &:hover{
    cursor: pointer;
  }
}

.navContact{

  a{
    font-family: $sansSerifFont;
    color: $darkGray;
    margin-left: 12px;
    position: relative;
    top: 12px;

    &:hover{
      color: $primaryMid;
    }

    @media (max-width: $screen-md-max){
      display: inline;
    }
  }
  @media (max-width: $screen-md-max) {
    height: 60px;
    padding-top: 5px;
    width: 160px;
    position: absolute;
    top: -10px;
    right: 20px;
  }
  @media (max-width: $screen-sm-max) {
    height: 60px;
    padding-top: 5px;
    width: 160px;
    position: absolute;
    top: -70px;
    right: 20px;
  }
}

.searchBarContainer{
  width: 360px;
  background-color: $lightGray;
  height: 50px;
  z-index: 100;
  text-align: center;
  display: flex;
  position: absolute;
  right: -400px;
  border-top: 2px solid $accent;
  box-shadow: 0px 0px 5px $darkGray;
  transition: all .5s ease;

  button{
    height: 48px;
    padding: 7px 20px;
    background-color: $accent;
    color: $white;

    &:hover{
      cursor: pointer;
      background-color: $accentDark;
      color: $white;
    }
  }

  &.activeSearch{
    right: 0px;
  }
}

#searchNav{
  background-color: transparent;
  border: none;
  max-width: 1024px;
  width: 300px;
  font-size: 14px;
  padding-left: 10px;
  height: 50px;
  outline: none;
  color: $primaryDark;

  &:focus{
    border: 0;
    outline: none;
  }
}


main .fluid-container{
  padding-top: 60px;
  padding-bottom: 60px;
}

/* SLIDER STYLES */
.slider-container{
  padding: 0;
  height: 500px;
  overflow: hidden;

  @media (max-width: $screen-sm-max){
    height: 350px;
  }

  .slider{
    width: 100%;
    height: 500px;

    @media (max-width: $screen-sm-max){
      height: 350px;
    }

    .sliderImage{
      width: 100%;
      height: auto;

      @media (max-width: $screen-sm-max){
        height: 350px;
      }
    }

    .sliderTextContainer{
      width: 50%;
      height: 100%;
      position: absolute;
      top: 0px;
      left: 0px;
      text-align: left;
      color: $primaryDark;
      background-color: rgba($white, .6);
      padding-left: 120px;
      padding-top: 100px;
      padding-right: 120px;

      @media (max-width: $screen-md-max){
        padding-top: 100px;
        padding-left: 100px;
        padding-right: 60px;
      }
      @media (max-width: $screen-sm-max){
        top: 0px;
        width: 100%;
        text-align: center;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 100px;
      }
      @media (max-width: $screen-xs-max) {
        top: 0px;
      }


      h4{
        color: $primaryDark !important;
        font-family: $sansSerifFont !important;
        font-size: 32px;
        line-height: 40px;
        text-transform: none;

        @media (max-width: $screen-md-max){
          font-size: 115% !important;
          line-height: 132% !important;
        }

        @media (max-width: $screen-sm-max){
          font-size: 105% !important;
          line-height: 118% !important;
        }

        p{
          color: $primaryDark !important;
          font-family: $sansSerifFont !important;
          font-size: 32px;
          line-height: 40px;
          text-transform: none;

          @media (max-width: $screen-md-max){
            font-size: 115% !important;
            line-height: 132% !important;
          }
          @media (max-width: $screen-sm-max){
            font-size: 105% !important;
            line-height: 118% !important;
          }
        }


      }

      button{
        margin-top: 36px;

        @media (max-width: $screen-sm-max){
          margin-top: 0px;
        }
      }
    }
  }
}

.slick-next, .slick-prev{
  z-index: 20;
  width: 40px !important;
  height: 40px !important;
  background-color: transparent;
  border: 2px solid $lightGray !important;
  border-radius: 20px;
}

.slick-next{
  right: 25px !important;
}
.slick-prev{
  left: 25px !important;
}

.slick-next:before{
  font-size: 42px !important;
  position: relative;
  right: 3px;
}

.slick-prev:before{
  font-size: 42px !important;
  position: relative;
  right: 3px;
}

.slick-prev:before, .slick-next:before{
  background-color: transparent !important;
  color: #FFF !important;
}

/* END SLIDER STYLES */

/* HOME CONTENT AREA */

.homeSpecial{

  @media (max-width: $screen-md-max){
    width: 960px;
    margin: auto;
  }
  @media (max-width: $screen-sm-max){
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
  }

}

/* END HOME CONTENT AREA */

/* 3 COLUMN SECTION STYLES */

.threeColumnSection{
  background-color: rgba($altColor, .3);
  margin-top: 60px;
}

.imageColumn{
  width: 100%;

  img{
    width: 100%;
    height: auto;
    position: relative;
  }

  .imageColumn-overlay{
    height: 50px;
    text-align: center;
  }

  .imageColumn-overlay{

    p{
      width: auto;
      display: block;
      padding: 10px;
      position: relative;
      top: -50px;
      background-color: rgba($dark, .6);
      color: $white;
      font-family: $sansSerifFont;
    }
  }
}

/* END 3 COLUMN SECTION STYLES */

/* 2 BUTTON SECTION STYLES */

.two-button-section{

  button{
    margin-top: 24px;
  }
}

/* END 2 BUTTON SECTION STYLES */


/* 3 COLUMN MAPS SECTION STYLES */

.mapsSection{
  background-color: rgba($altColor, .3);

  img{
    margin-top: 24px;
    margin-bottom: 24px;
  }

  p{
    font-family: $serifFont;
  }
  a{
    font-family: $sansSerifFont;
    color: $dark;
    font-weight: 700;

    &:hover{
      color: $primaryMid;
    }
  }
}

/* END 3 COLUMN MAPS SECTION STYLES */


/* PRIMARY SIDEBAR PAGE TEMPLATE STYLES */
.primarySidebarPageWrapper{
  margin-top: 48px;
  margin-bottom: 48px;

  main{

    img{
      margin-bottom: 36px;
    }
  }
}

.calloutSingleButtonContainer{
  background-color: $primaryMid;
  padding: 120px 0px;
  border-top: 4px solid $primaryLight;

  h2{
    font-weight: 700;
    color: $white;
    z-index: 3;
    position: relative;
  }
  p{
    max-width: 650px;
    margin: auto;
    margin-bottom: 20px;
    color: $white;
    z-index: 3;
    position: relative;
  }
  .calloutSingleImage{
    position: absolute;
    left: 60px;
    top: -48px;
    z-index: 1;
  }

  .transparent-btn{
    background-color: $white !important;
    border-color: $midGray !important;

    &:hover{
      border-color: $primaryDark !important;
      background-color: $primaryDark !important;
      color: $white !important;
    }
  }
}

.two-button-section-subpage{
  background-color: $lightGray !important;
  padding: 60px 0px !important;

  h2{
    text-align: left;
  }
  p{
    text-align: left;
  }
}

/* THIS STYLING MAY NEED TO CHANGE WHEN LIVE */
aside{

  h3{
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 24px;
  }

  .widget{
    padding: 24px;
    margin-bottom: 24px;
    background-color: rgba($altColor, .3);
    border-top: 4px solid $altColor !important;

    ul{
      list-style-type: none;
      padding-left: 0;
      margin-left: 12px;

      li{
        margin-bottom: 12px;
      }
    }

    a{
      border-bottom: 2px solid transparent;

      &:hover {
        text-decoration: none;
        border-bottom: 2px solid $primaryLight;
      }
    }

    button{
      display: block !important;
      margin-left: auto !important;
      margin-right: auto !important;
    }
  }

  button{
    margin-top: 12px !important;
  }
}

.blogSidebar{

  button{
    margin-top: 12px !important;
  }
}

/* END PRIMARY SIDEBAR PAGE TEMPLATE STYLES */

/* FULLWIDTH TEMPLATE STYLES */

.fullwidthPageWrapper{
  padding: 60px 0px;
}

/* TEAM MEMBER STYLING */

.teamMember{
  text-align: center;

  h6{
    margin-top: 12px;
    font-weight: 700;
    margin-bottom: 30px;
  }

  .teamMemberImage{
    width: 100%;
    height: auto;
  }
}

/* END FULLWIDTH TEMPALTE STYLES */

/* BLOG PAGE STYLES */

.blog{

  .post{

    time{
      display: inline-block;
    }
    p{
      display: inline-block;
    }

    .entry-summary{
      img{
        width: 100% !important;
        height: auto !important;
        margin-bottom: 12px;

        @media (max-width: $screen-sm-max) {
          margin-bottom: 12px;
        }
      }
    }

    .attachment-thumbnail{
      width: 100% !important;
      height: auto !important;

      @media (max-width: $screen-sm-max) {
        margin-bottom: 24px;
      }

    }
  }
}

.postTags{
  min-height: 60px;

  @media (max-width: $screen-sm-max){
    min-height: 100px;
  }
}

.single{
  .post{
    padding-left: 24px;
    @media (max-width: $screen-md-max) {
      padding-left: 36px;
    }

    .entry-content{
      img{
        width: 100%;
        height: auto;
      }

      em{
        strong{
          display: none;
        }
      }
    }
  }
}

#comments {
  .comment-body{
    padding: 10px;
    margin-bottom: 24px;
    background-color: $offWhite;
    position: relative;
  }

  .comment-metadata{
    position: absolute;
    bottom: 12px;
    right: 12px;
  }

  .comment-author{
    margin-bottom: 12px;
  }

  h2 {
    font-size: 24px;
  }
}

.postListingFooter{

  .post-categories{
    padding-left: 0px;
    list-style-type: none;
    position: relative;
    top: -4px;
    margin-bottom: 0px !important;

    li{

      a{
        height: 18px;
        font-size: 14px;
        color: $darkGray;

        &:hover{
          color: $primaryMid;
        }
      }
    }
  }

  p{
     font-size: 14px;
     margin-bottom: 0px !important;
     padding-left: 10px;
  }


  hr{
    display: block;
    height: 2px;
    border: 0;
    border-top: 2px solid $midGray;
    margin: 1em 0;
    padding: 0;
    width: 100%;
  }

  a{
    color: $darkGray;
    &:hover{
      color: $primaryMid;
    }
  }
}

.commentCountBlogItem{
  position: absolute;
  bottom: 24px;
  right: 24px;

  //@media (max-width: $screen-md-max) {
  //  position: absolute;
  //  top: 85%;
  //  right: 20px;
  //}
}

.blog article{
  padding: 15px 36px 36px 36px;

  .entry-title{
    font-size: 30px;
    margin-bottom: 12px;
  }
}

.single{
  article{
    header{
      .entry-title{
        font-size: 30px;
        margin-bottom: 12px;
      }

      .author{
        display: inline-block;
      }

      time{
        display: inline-block;
        margin-bottom: 12px;
      }
    }
  }
}

.blogReadMore{
  position: relative;
  top: 12px;
}

/* END BLOG PAGE STYLES */

/* SIDEBAR STYLES */
.sidebar{
  @media (max-width: $screen-md-max) {
    margin-top: 60px;
  }

  @media (max-width: $screen-sm-max) {
    margin-top: 150px;
  }
}

.container[role^="document"]{
  @media (max-width: $screen-md-max) {
    margin-top: 80px !important;
  }
}

/* END SIDEBAR STYLES */


/* FOOTER STYLES */

.content-info{
  background-color: $primaryDark;
  color: $lightGray;
  padding-top: 60px;
  padding-bottom: 12px;

  h3{
    padding-bottom: 12px;
    border-bottom: 1px solid $lightGray;
    margin-bottom: 24px;
  }

  input[type="text"]{
    width: 100%;
    padding: 10px;
  }

  a{
    color: $primaryLight;

    &:hover{
      color: $white;
    }
  }

  .invert-btn{
    padding: 10px 20px;
    color: $white;
    font-size: 18px !important;
    border-color: $primaryLight;
    text-transform: uppercase;
    float: right;
    position: relative;
    top: 20px;

    &:hover{
      color: $primaryDark !important;
      background-color: $white !important;
      border-color: $white;
    }
  }
}

.termsContainer{
  text-align: center;
  padding-top: 36px;

  p{
    width: 100%;
    font-size: 12px;
  }
}

/* END FOOTER STYLES */


/* CONTACT PAGE STYLES (NOT ON LOCAL SITE) */

.contactForm{
  width: 90%;
  margin: auto;
  font-family: $sansSerifFont;
  font-weight: bold;

  input{
    border: 1px solid $primaryDark;
    margin-bottom: 12px;
    padding: 6px;
    font-family: $sansSerifFont;

    &:focus{
      outline: none;
      border: 1px solid $primaryMid;
    }
  }

  textarea{
    border: 1px solid $primaryDark;
    padding: 6px;
    font-family: $sansSerifFont;

    &:focus{
      outline: none;
      border: 1px solid $primaryMid;
    }
  }

  button{
    margin-bottom: 24px;
    margin-top: 12px;
  }
}

/* END CONTACT STYLES */


figcaption{
  font-size: 12px;
  margin-top: 12px;
}

.page-template-default main figure{
  margin-right: 24px;
  margin-bottom: 12px;
}

main{

  h1.page-title{
    text-transform: uppercase !important;
  }
  h1, h2, h3, h4, h5, h6{
    text-transform: capitalize;
  }

  h2.entry-title a{
    text-transform: uppercase;
  }
}